node_modules/
.env
*.env
local.env
appsettings.Development.json
appsettings.Production.json
vehicle_positions.csv
/backend/bvenv
.pyc
backend/__pycache__
backend/routers/__pycache__
backend/models/__pycache__
backend/database/__pycache__
backend/services/__pycache__